/*------------------------------------*\
    $PAGE-WRAP
\*------------------------------------*/
/**
 * The main page-wrapper
 */
.page-wrap{
	max-width: $page-wrap-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;
}
