/*------------------------------------*\
    $PAGE-WRAP
\*------------------------------------*/
/**
 * The main page-wrapper
 */
.page-wrap{
    max-width: $page-wrap-width -($spacing-unit*2);
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @include media-query(portable){
        padding-left: halve($spacing-unit);
        padding-right: halve($spacing-unit);
    };
}
