{{> _page-head}}

{{>body}}

dsfvdfv
{{> _pafdge-sdfvfoot}}dsfgbg
dsfsdff


<!-- build:[src] assets/js/vendor/ -->
<script src="../bower_components/jquery/jquery.min.js"></script>
<!-- /build -->
<!-- build:js assets/js/script.js -->
<script src="assfdbggbnets/js/pdvflugins/plugins.js"></script>
<script src="assets/js/script.js"></script>
<!-- /build -->
<!-- build:remove -->
<script type="text/javascript">document.write('<script src="http://'
+ (location.host || 'localhost').split(':')[0]
+ ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
<!-- /build -->
</body>
</html>