/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * Based on "_helper.scss" from inuitcss by Harry Roberts:
 * https://github.com/csswizardry/inuit.css/blob/master/generic/_helper.scss
 */


/**
 * Floats
 */
.float--left,
%float--left{
    float: left !important;
}

.float--right,
%float--right{
    float: right !important;
}

.float--none,
%float--none{
    float: none !important;
}


/**
 * Text alignment
 */
.text--left,
%text--left{
    text-align: left !important;
}

.text--right,
%text--right{
    text-align: right !important;
}

.text--center,
%text--center{
    text-align: center !important;
}


/**
 * Font weights
 */
.weight--100,
%weight--100{
    font-weight: 100 !important;
}

.weight--200,
%weight--200{
    font-weight: 200 !important;
}

.weight--300,
%weight--300{
    font-weight: 300 !important;
}

.weight--400,
%weight--400{
    font-weight: 400 !important;
}

.weight--500,
%weight--500{
    font-weight: 500 !important;
}

.weight--600,
%weight--600{
    font-weight: 600 !important;
}

.weight--700,
%weight--700{
    font-weight: 700 !important;
}

.weight--800,
%weight--800{
    font-weight: 800 !important;
}

.weight--900,
%weight--900{
    font-weight: 900 !important;
}
