///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Unsemantic color vars.
$blue--light:                   #ce7e00;
$grey--light:                   #ccc;





// Semantic color vars.
$brand-color:                   $blue--light;
$base-ui-color:                 $grey--light;





// Selection.
$selection-background-color:    $brand-color;
$selection-text-color:          $base-ui-color;
