/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/
/**
 * Block-List
 */
$block-list-padding:                    $spacing-unit;
$block-list-padding--small:             halve($block-list-padding);
$block-list-padding--large:             double($block-list-padding);

$enable-block-list--small:              false;
$enable-block-list--large:              false;


/**
 * Buttons
 */
$btn-padding:                           halve($spacing-unit);
$btn-padding--small:                    halve($btn-padding);
$btn-padding--large:                    double($btn-padding);

$btn-background:                        $brand-color;
$btn-color:                             #fff;
$btn-border-width:                      1px;
$btn-border-style:                      solid;
$btn-border-color:                      $brand-color;
$btn-radius:                            0;

$enable-btn--small:                     false;
$enable-btn--large:                     false;
$enable-btn--full:                      false;
$enable-btn--pill:                      false;


/**
 * Flag
 */
$flag-gutter:                           $spacing-unit;
$flag-gutter--small:                    halve($flag-gutter);
$flag-gutter--large:                    double($flag-gutter);

$enable-flag--small:                    false;
$enable-flag--large:                    false;
$enable-flag--rev:                      false;
$enable-flag--flush:                    false;
$enable-flag--top:                      false;
$enable-flag--bottom:                   false;
$enable-flag--responsive:               false;
$flag-collapse-at:                      720px;


/**
 * Grid
 */
$grid-gutter:                           $spacing-unit;
$grid-gutter--small:                    halve($grid-gutter);
$grid-gutter--large:                    double($grid-gutter);

$enable-grid--small:                    false;
$enable-grid--large:                    false;
$enable-grid--flush:                    false;
$enable-grid--rev:                      false;
$enable-grid--middle:                   false;
$enable-grid--bottom:                   false;


/**
 * Icon
 */
$icon-spacing--small:                   halve($spacing-unit);
$icon-spacing--large:                   double($spacing-unit);

$icon-vertical-alignment:               0.1em;

$enable-icon--small:                    false;
$enable-icon--large:                    false;
$enable-icon--rev:                      false;


/**
 * Island
 */
$island-padding:                        $spacing-unit;
$island-padding--small:                 halve($island-padding);
$island-padding--large:                 double($island-padding);

$enable-island--small:                  false;
$enable-island--large:                  false;
$enable-island--responsive--palm:       false;
$enable-island--responsive--portable:   false;
$enable-island--responsive--desk:       false;
$island--palm-collapse-at:              $palm-end;
$island--portable-collapse-at:          $desk-start;
$island--desk-collapse-at:              $desk-wide-start;


/**
 * Media
 */
$media-gutter:                          $spacing-unit;
$media-gutter--small:                   halve($media-gutter);
$media-gutter--large:                   double($media-gutter);

$enable-media--small:                   false;
$enable-media--large:                   false;
$enable-media--rev:                     false;
$enable-media--flush:                   false;
$enable-media--responsive:              false;
$media-collapse-at:                     720px;


/**
 * Nav
 */
$nav-padding--compact:                  halve($spacing-unit);
$nav-padding--cosy:                     $spacing-unit;
$nav-padding--comfy:                    double($spacing-unit);

$enable-nav--compact:                   false;
$enable-nav--cosy:                      false;
$enable-nav--comfy:                     false;
$enable-nav--fit:                       false;
$enable-nav--stacked:                   false;
$enable-nav--responsive:                false;
$nav-collapse-at:                       720px;


/**
 * Table
 */
$table-padding--compact:                quarter($spacing-unit);
$table-padding--cosy:                   halve($spacing-unit);
$table-padding--comfy:                  $spacing-unit;

$table-border-width:                    1px;
$table-border-style:                    solid;
$table-border-color:                    $base-ui-color;

$enable-table--fixed:                   false;
$enable-table--compact:                 false;
$enable-table--cosy:                    false;
$enable-table--comfy:                   false;
$enable-table--cells:                   false;
$enable-table--rows:                    false;
$enable-table--columns:                 false;


/**
 * Ui-List
 */
$ui-list-padding:                       $spacing-unit;
$ui-list-padding--small:                halve($ui-list-padding);
$ui-list-padding--large:                double($ui-list-padding);

$ui-list-border-width:                  1px;
$ui-list-border-style:                  solid;
$ui-list-border-color:                  $base-ui-color;

$enable-ui-list--small:                 false;
$enable-ui-list--large:                 false;


/**
 * Margin and padding helper classes
 */
$margin:                                $spacing-unit;
$padding:                               $spacing-unit;

$enable-margins:                        false;
$enable-margins--tiny:                  false;
$enable-margins--small:                 false;
$enable-margins--large:                 false;
$enable-margins--huge:                  false;
$enable-margins--none:                  false;

$enable-paddings:                       false;
$enable-paddings--tiny:                 false;
$enable-paddings--small:                false;
$enable-paddings--large:                false;
$enable-paddings--huge:                 false;
$enable-paddings--none:                 false;
