/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/
/**
 * Redefine the objects' vars here
 */


/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
$inuit-block-list-padding:                  $inuit-base-spacing-unit;
$inuit-block-list-padding--small:           halve($inuit-block-list-padding);
$inuit-block-list-padding--large:           double($inuit-block-list-padding);

$inuit-enable-block-list--small:            false;
$inuit-enable-block-list--large:            false;
$inuit-enable-block-list--responsive:       false;
$inuit-block-list-collapse-at:              720px;


/*------------------------------------*\
    $BOX
\*------------------------------------*/
$inuit-box-padding:                         $inuit-base-spacing-unit;
$inuit-box-padding--small:                  halve($inuit-box-padding);
$inuit-box-padding--large:                  double($inuit-box-padding);

$inuit-enable-box--small:                   false;
$inuit-enable-box--large:                   false;
$inuit-enable-box--responsive--palm:        false;
$inuit-enable-box--responsive--portable:    false;
$inuit-enable-box--responsive--desk:        false;
$inuit-box--palm-collapse-at:               $inuit-palm-end;
$inuit-box--portable-collapse-at:           $inuit-desk-start;
$inuit-box--desk-collapse-at:               $inuit-desk-wide-start;


/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
$inuit-btn-padding:                         halve($inuit-base-spacing-unit);
$inuit-btn-padding--small:                  halve($inuit-btn-padding);
$inuit-btn-padding--large:                  double($inuit-btn-padding);

$inuit-btn-background:                      $brand-color;
$inuit-btn-color:                           #fff;
$inuit-btn-border-width:                    1px;
$inuit-btn-border-style:                    solid;
$inuit-btn-border-color:                    $inuit-btn-background;
$inuit-btn-radius:                          0;

$inuit-enable-btn--small:                   false;
$inuit-enable-btn--large:                   false;
$inuit-enable-btn--full:                    false;
$inuit-enable-btn--pill:                    false;


/*------------------------------------*\
    $FLAG
\*------------------------------------*/
$inuit-flag-gutter:                         $inuit-base-spacing-unit;
$inuit-flag-gutter--small:                  halve($inuit-flag-gutter);
$inuit-flag-gutter--large:                  double($inuit-flag-gutter);

$inuit-enable-flag--small:                  false;
$inuit-enable-flag--large:                  false;
$inuit-enable-flag--rev:                    false;
$inuit-enable-flag--flush:                  false;
$inuit-enable-flag--top:                    false;
$inuit-enable-flag--bottom:                 false;
$inuit-enable-flag--responsive--palm:       false;
$inuit-enable-flag--responsive--portable:   false;
$inuit-enable-flag--responsive--desk:       false;
$inuit-flag--palm-collapse-at:              $inuit-palm-end;
$inuit-flag--portable-collapse-at:          $inuit-desk-start;
$inuit-flag--desk-collapse-at:              $inuit-desk-wide-start;


/*------------------------------------*\
    $ICON
\*------------------------------------*/
$icon-spacing:                              halve($inuit-base-spacing-unit);
$icon-spacing--small:                       quarter($icon-spacing);
$icon-spacing--large:                       $icon-spacing;

$enable-icon--small:                        false;
$enable-icon--large:                        false;
$enable-icon--rev:                          false;


/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
$inuit-layout-gutter:                       $inuit-base-spacing-unit;
$inuit-layout-gutter--small:                halve($inuit-layout-gutter);
$inuit-layout-gutter--large:                double($inuit-layout-gutter);

$inuit-enable-layout--small:                false;
$inuit-enable-layout--large:                false;
$inuit-enable-layout--flush:                false;
$inuit-enable-layout--rev:                  false;
$inuit-enable-layout--middle:               false;
$inuit-enable-layout--bottom:               false;
$inuit-enable-layout--right:                false;
$inuit-enable-layout--center:               false;


/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
$inuit-media-gutter:                        $inuit-base-spacing-unit;
$inuit-media-gutter--small:                 halve($inuit-media-gutter);
$inuit-media-gutter--large:                 double($inuit-media-gutter);

$inuit-enable-media--small:                 false;
$inuit-enable-media--large:                 false;
$inuit-enable-media--rev:                   false;
$inuit-enable-media--flush:                 false;
$inuit-enable-media--responsive--palm:      false;
$inuit-enable-media--responsive--portable:  false;
$inuit-enable-media--responsive--desk:      false;
$inuit-media--palm-collapse-at:             $inuit-palm-end;
$inuit-media--portable-collapse-at:         $inuit-desk-start;
$inuit-media--desk-collapse-at:             $inuit-desk-wide-start;


/*------------------------------------*\
    $PAGE-WRAP
\*------------------------------------*/
$page-wrap-padding:                         $inuit-base-spacing-unit;
$page-wrap-width:                           1280px;

$page-wrap--responsive:                     false;
$page-wrap-collapse-at:                     720px;


/*------------------------------------*\
    $SPACING
\*------------------------------------*/
$inuit-margin:                              $inuit-base-spacing-unit;
$inuit-padding:                             $inuit-base-spacing-unit;

$inuit-enable-margins:                      false;
$inuit-enable-margins--tiny:                false;
$inuit-enable-margins--small:               false;
$inuit-enable-margins--large:               false;
$inuit-enable-margins--huge:                false;

$inuit-enable-margins--negative:            false;
$inuit-enable-margins--negative-tiny:       false;
$inuit-enable-margins--negative-small:      false;
$inuit-enable-margins--negative-large:      false;
$inuit-enable-margins--negative-huge:       false;

$inuit-enable-margins--none:                false;

$inuit-enable-paddings:                     false;
$inuit-enable-paddings--tiny:               false;
$inuit-enable-paddings--small:              false;
$inuit-enable-paddings--large:              false;
$inuit-enable-paddings--huge:               false;

$inuit-enable-paddings--none:               false;


/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$inuit-table-padding--compact:              quarter($inuit-base-spacing-unit);
$inuit-table-padding--cosy:                 halve($inuit-base-spacing-unit);
$inuit-table-padding--comfy:                $inuit-base-spacing-unit;

$inuit-table-border-width:                  1px;
$inuit-table-border-style:                  solid;
$inuit-table-border-color:                  $base-ui-color;

$inuit-enable-table--fixed:                 false;
$inuit-enable-table--compact:               false;
$inuit-enable-table--cosy:                  false;
$inuit-enable-table--comfy:                 false;
$inuit-enable-table--cells:                 false;
$inuit-enable-table--rows:                  false;
$inuit-enable-table--columns:               false;


/*------------------------------------*\
    $UI-LIST
\*------------------------------------*/
$inuit-ui-list-padding:                     $inuit-base-spacing-unit;
$inuit-ui-list-padding--small:              halve($inuit-ui-list-padding);
$inuit-ui-list-padding--large:              double($inuit-ui-list-padding);

$inuit-ui-list-border-width:                1px;
$inuit-ui-list-border-style:                solid;
$inuit-ui-list-border-color:                $base-ui-color;

$inuit-enable-ui-list--small:               false;
$inuit-enable-ui-list--large:               false;
$inuit-enable-ui-list--responsive:          false;
$inuit-ui-list-collapse-at:                 720px;
