/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Modify the frameworks default vars in this file
 */


/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Basic font stuff
 */
$base-font-size:                20px;
$base-line-height:              30px;
$base-font-family:              'Lato', sans-serif;


/**
 * Basic color settings
 */
$base-text-color:               #333;
$base-background-color:         #eee;
$base-ui-color:                 #999;

$brand-color:                   #8ee2ff;


/**
 * Selection colors
 */
$selection-background-color:    $brand-color;
$selection-text-color:          #fff;


/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Headings
 */
$giga-size:                     96px;
$mega-size:                     72px;
$kilo-size:                     48px;

$heading-size-1:                36px;
$heading-size-2:                30px;
$heading-size-3:                24px;
$heading-size-4:                20px;
$heading-size-5:                16px;
$heading-size-6:                14px;


/**
 * Smallprint
 */
$milli-size:                    12px;
$micro-size:                    10px;


/*------------------------------------*\
    $GRID
\*------------------------------------*/
/**
 * Defines the number of columns
 * of your grid system
 */
$columns:                       12;


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Basic Breakpoints
 */
$lap-start:                     481px;
$desk-start:                    1024px;
$desk-wide-start:               1200px;


/**
 * Turning on push produces a lot of output.
 * Only turn it on, if you absolutely need to!
 */
$push:                          false;

/**
 * Note: $push variable above must be
 * set to true before enabling these
 */
$palm-push:                     false;
$lap-push:                      false;
$lap-and-up-push:               false;
$portable-push:                 false;
$desk-push:                     false;
$desk-wide-push:                false;


/**
 * Turning on pull produces a lot of output.
 * Only turn it on, if you absolutely need to!
 */
$pull:                          false;

/**
 * Note: $pull variable above must be
 * set to true before enabling these
 */
$palm-pull:                     false;
$lap-pull:                      false;
$lap-and-up-pull:               false;
$portable-pull:                 false;
$desk-pull:                     false;
$desk-wide-pull:                false;

