/*------------------------------------*\
    $ICON
\*------------------------------------*/
/**
 * Icon left, text right
 *
<div class="icon">
    <i class="i i--home"></i>
    <span class="icon__text">Lorem ipsum dolor sit</span>
</div>
 *
 * Define width and height for .i in your stylesheet
 *
 */
$icon-spacing--small:           halve($spacing-unit) !default;
$icon-spacing--large:           double($spacing-unit) !default;

$enable-icon--small:            false !default;
$enable-icon--large:            false !default;
$enable-icon--rev:              false !default;


.icon,
%icon{
    display: table;
}
    .i,
    %i{
        display: table-cell;
        padding-right: halve($spacing-unit);
        vertical-align: middle;
    }

    .icon__text{
        display: table-cell;
        vertical-align: middle;
    }


@if ($enable-icon--small == true){

    /**
     * Icons with small gutter
     */
    .icon--small,
    %icon--small{

        > .i,
        > %i{
            padding-right: quarter($spacing-unit);
        }

        @if ($enable-icon--rev == true){

            /**
             * Reversed icons with small gutter
             */
            &.icon--rev,
            &%icon--rev{

                > .i,
                > %i{
                    padding-left: quarter($spacing-unit);
                    padding-right: 0;
                }
            }
        }
    }
}


@if ($enable-icon--large == true){

    /**
     * Icons with large gutter
     */
    .icon--large,
    %icon--large{

        > .i,
        > %i{;
            padding-right: $spacing-unit;
        }

        @if ($enable-icon--rev == true){

            /**
             * Reversed icons with large gutter
             */
            &.icon--rev,
            &%icon--rev{

                > .i,
                > %i{
                    padding-left: $spacing-unit;
                    padding-right: 0;
                }
            }
        }
    }
}


@if ($enable-icon--rev == true){

    /**
     * Icon right, text left
     *
    <div class="icon">
        <span class="icon__text">Lorem ipsum dolor sit</span>
        <i class="i i--home"></i>
    </div>
     *
     */
    .icon--rev,
    %icon--rev{

        > .i,
        > %i{
            padding-left: halve($spacing-unit);
            padding-right: 0;
        }
    }
}
