/*------------------------------------*\
    $SETUP
\*------------------------------------*/
/**
 * The main content-wrapper
 */
.page-wrap{
	max-width: $page-wrap-width;
	margin-left: auto;
	margin-right: auto; // FIXME
	padding-left: $base-spacing-unit;
	padding-right: $base-spacing-unit;
}

::selection         { background-color: $brand-color; color:#fff; }
::-moz-selection    { background-color: $brand-color; color:#fff; }