  $favicon-x: 0px;
  $favicon-y: 0px;
  $favicon-offset-x: 0px;
  $favicon-offset-y: 0px;
  $favicon-width: 32px;
  $favicon-height: 32px;
  $favicon-total-width: 32px;
  $favicon-total-height: 32px;
  $favicon-image: '../../assets/img/css/sprites/s.png';
  $favicon: 0px 0px 0px 0px 32px 32px 32px 32px '../../assets/img/css/sprites/s.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
